.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  color: rgb(201, 116, 180);
}

.screen-header__icons span {
  margin-left: 25px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgba(201, 116, 180, 0.3);
  padding: 15px 0px;
  font-size: 16px;
}

#friends-display-link i {
  color: rgba(201, 116, 180, 0.3);
}
